### Visual Studio Code
**/.vscode/*
!**/.vscode/launch.json
!**/.vscode/tasks.json
#!.vscode/settings.json
#!.vscode/extensions.json

### NodeJS
node_modules/
package-lock.json
# parcel
.cache/
dist/

### Java
*.class
*.jar
# maven
target/
# trash
.settings/
.classpath
.project

### Python
__pycache__/
.venv/
*.py[cod]
*$py.class
*.so
