### Visual Studio Code
**/.vscode/*
!**/.vscode/launch.json
!**/.vscode/tasks.json
#!.vscode/settings.json
#!.vscode/extensions.json

### NodeJS
node_modules/
package-lock.json
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
# parcel
.cache/
dist/
# Firebase
.firebase/
.firebaserc

### Java
*.class
*.jar
# maven
target/
# trash
.settings/
.classpath
.project

### Python
__pycache__/
.venv/
*.py[cod]
*$py.class
*.so
